<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="C:\data\TournamentTracker" />
    <add key="greaterWins" value="1" />
    <add key="senderEmail" value ="noreply@test.com" />
    <add key="senderDisplayName" value="Tournament Tracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=tcp:tournamenttracker.database.windows.net,1433;Initial Catalog=Tournaments;Persist Security Info=False;User ID=tournamenttrackeradmin;Password=qyz$nq9XWfjyS;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>